.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 8px lightgreen;
  padding: 20px;
  gap: 10px;
}

.form button {
  background-color: teal;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 2px 2px lightgreen;
  cursor: pointer;
}

.form button:hover {
  background-color: darkgreen;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label span {
  font-weight: bold;
  margin: 5px 0;
}

/* Стилі для інпутів */
.input {
  border-radius: 8px;
  padding: 5px;
  box-shadow: 1px 1px 2px 2px lightgreen;
  width: 100%;
}

/* Стилі для радіокнопок і чекбоксів */
.radio,
.checkbox {
  width: auto;
  margin: 5px 0;
  display: inline-block;
  height: auto;
}

/* Стилі для лейблів з радіокнопками і чекбоксами, щоб вони були на одній лінії */
.labelRadio {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* вирівнювання по вертикалі */
  gap: 5px; /* відстань між кнопкою і текстом */
}
